
<h1>Listing posts</h1>
<%= link_to 'New Post', new_post_path %>
<br/><br/>
<div style="width:900px" >
<% @posts.each do |post| %>
<div style="float: left; width:500px">
<p>
  <strong>Content:</strong>
 <%= post.content ? post.content : "No content" %>
</p>
<p>
  <strong>Rating:</strong>
  <%= post.rating ? post.rating : "No rating"  %>
</p>
<p>
  <strong>Image Path:</strong>
  <%= post.image_path ? post.image_path :  "No image" %>
</p>

<p>
  <strong>Address:</strong>
 <%= post.address ? post.address :  "No address" %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= post.latitude ? post.latitude :  "No latitude" %>
</p>

<p>
  <strong>Longitude:</strong>
   <%= post.longitude ? post.longitude :  "No longitude" %>

</p>
<br/>
<%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<br/>
</div>
<div style="float:left; width:400px">
<%= render partial: 'viewer', locals: {info: post} %>
</div>
</div>
<% end %>
<br/>