<div class="row">

<div class="small-12 columns">
<div class="form-style-3">
<div class="small-4 columns">
<fieldset>

   <!-- <%= @post.image_path ? image_tag(@post.image_path) : image_tag('default.jpg') %>-->
 <%= @post.image_path ? image_tag(@post.image_path.url, :size => "300x250") : image_tag('default.jpg') %>

</fieldset>
</div>

<div class="small-4 columns">
<fieldset>
<p>
  <strong>Content:</strong>
  <%= @post.content ? @post.content : "" %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @post.rating ? @post.rating : "" %>
</p>

<p>
  <strong>Address:</strong>
  <%= @post.address ? @post.address : "" %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude ? @post.latitude : "No Latitude" %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude ? @post.longitude : "Longitude" %>
</p>

<p>
  <strong>IP Address:</strong>
  <%= @post.ip_address ? @post.ip_address : "No IP Address detected" %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</fieldset>
</div>
<div class="small-4 columns">
<fieldset>
<!--Google Map Div-->
  <%= render partial: 'viewer', locals: {info: @post} %>
</fieldset>
</div>

</div>
</div>

</div>





