
<p id="notice"><%= notice %></p>
<div style="float:left; width:900px">
<div style="float:left; width:400px">
   <!-- <%= @post.image_path ? image_tag(@post.image_path) : image_tag('default.jpg') %>-->
 <%= @post.image_path ? image_tag(@post.image_path.url, :size => "300x300") : image_tag('default.jpg') %>

</div>
<div style="float:left; width:500px">
<p>
  <strong>Content:</strong>
  <%= @post.content ? @post.content : "" %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @post.rating ? @post.rating : "" %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>

</div>
<p>Google Map</p>
<div id="googleMap" style="width:500px;height:380px;">
	
</div>



<!--Google Maps Script-->
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(50,50),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
