<!DOCTYPE html>
<html>
<head>
  <title>Trashtrack</title>
  	<%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "default" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


 <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

</head>
<body>
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<nav class="menu">
  <h1 class="name"><i class="fi-widget"></i> Trash Track</a></h1>

  <ul class="inline-list">
  	<% if user_signed_in? %>
    <li><%= link_to "Profile Settings", edit_user_registration_path %></li>
    <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to "Sign up now", new_user_registration_path %></li>
    <li><%= link_to "Log In", new_user_session_path %></li>
    <li><%= link_to "Post", posts_path	%> </li>
    <li><%= link_to 'New Post', new_post_path %></li>
    <% end %>
  </ul>
  <ul class="inline-list hide-for-small-only account-action"></ul>
</nav>

<br/>
<div>
			<% if notice || alert %>
			<%= "#{notice || ""}#{alert || ""}" %>
			<% end %>
		</div>




<%= yield %>

</div>

</body>
</html>
